DB_HOST=localhost
DB_PORT=3306
DB_NAME=orcamentos
DB_USER=root
DB_PASSWORD=root
JWT_SECRET="sua_chave_secreta_aqui_32_caracteres_minimo"
PORT=3000
GEMINI_API_KEY="sua_api_key_do_gemini_aqui"
GEMINI_MODEL=gemini-2.0-flash
REGEX_NOTIFICACAO_VALIDADE_DIAS=30