image: node:24.13.1

variables:
  DOCKER_DRIVER: overlay2
  DOCKER_TLS_CERTDIR: "/certs"
  npm_config_cache: "$CI_PROJECT_DIR/.npm"

workflow:
  auto_cancel:
    on_new_commit: interruptible   # cancela jobs interruptible ao receber novo commit
    on_job_failure: none           # não cancela ao falhar um job

default:
  interruptible: true

stages:
  - security
  - unit
  - e2e
  - deploy

# -----------------------------
# Cache global melhorado
# -----------------------------
cache: &global-cache
  key:
    files:
      - package-lock.json
  paths:
    - node_modules/
    - .npm/
  policy: pull-push

Security Audit:
  stage: security
  cache:
    <<: *global-cache
    policy: pull
  before_script:
    - npm ci --no-audit --no-fund
  script:
    # Gera relatório JSON (sempre gera, mesmo falhando)
    - npm audit --production --json > npm-audit.json || true
    
    # Exibe resumo no log
    - echo "=== RESUMO DE VULNERABILIDADES ==="
    - npm audit --production
  artifacts:
    expire_in: 90d
    paths:
      - npm-audit.json
    when: always
  only:
    refs:
      - main

# -----------------------------
# UNIT TESTS
# -----------------------------
Execute Unit Tests:
  stage: unit
  cache:
    <<: *global-cache
  environment:
    name: production
  before_script:
    - npm ci --prefer-offline --no-audit --no-fund
    - npx prisma generate
  script:
    - npm run test:cov
  artifacts:
    expire_in: 2h
    paths:
      - coverage/
  needs:
    - job: Security Audit
  only:
    refs:
      - main

# -----------------------------
# E2E TESTS (com Docker)
# -----------------------------
Execute EndtoEnd Tests:
  stage: e2e
  image: docker:29.1.3
  services:
    - docker:29.1.3-dind
  variables:
    DOCKER_HOST: tcp://docker:2375/
    DOCKER_TLS_CERTDIR: ""
  cache:
    <<: *global-cache
    policy: pull
  before_script:
    - apk add --no-cache nodejs npm
    - npm ci --prefer-offline --no-audit --no-fund
    - npx prisma generate
    - docker pull mysql:8.0
  script:
    - npm run test:e2e
  needs:
    - job: Execute Unit Tests
  only:
    refs:
      - main

# -----------------------------
# DEPLOY
# -----------------------------
Release & Publish Image:
  stage: deploy
  image: docker:29.1.3
  services:
    - docker:29.1.3-dind
  environment:
    name: production
  cache:
    <<: *global-cache
    policy: pull
  before_script:
    - apk add --no-cache nodejs npm git
    - npm ci --prefer-offline --no-audit --no-fund
    - chmod +x ./ci_cd/build.sh
  script:
    - npm run release
  needs:
    - job: Execute EndtoEnd Tests
  only:
    refs:
      - main