image: node:20

variables:
  DOCKER_DRIVER: overlay2
  DOCKER_TLS_CERTDIR: "/certs"

stages:
  - test
  - deploy

test:
  stage: test
  environment:
    name: production
  before_script:
    - npm install
    - npx prisma generate
  script:
    - npm run test:cov
  artifacts:
    expire_in: 120 mins
    paths:
      - coverage/
  only:
    refs:
      - main

deploy:
  stage: deploy
  image: docker:latest
  services:
    - docker:dind
  environment:
    name: production
  before_script:
    - apk add --no-cache nodejs npm git
    - npm install
    - chmod +x ./ci_cd/build.sh
    - cd ./ci_cd
    - ls -la
    - cd ..
  script:
    # Executa semantic-release que chama automaticamente o build.sh
    - npm run release
  needs:
    - job: test
      artifacts: false
  only:
    refs:
      - main