image: node:latest

variables:
  GIT_DEPTH: 0

stages:
  - deploy

deploy:
  stage: deploy
  environment: production
  script:
    - node -v
    - npm ci
    - chmod +x ./ci_cd/build.sh
    - DEBUG=semantic-release:*,@semantic-release/* npm run release
  only:
    - main